* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    background-color: rgb(224, 224, 224);
}

main {
    background-color: white;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 4%;
}

.titolo {
    vertical-align: middle;
    line-height: 120px;
    display: inline-block;
}

.logo {
    vertical-align: middle;
}

header {
    height: 120px;
    background-color: white;
    padding-left: 30px;
}

.bottoni {
    border-bottom: 2px solid black;
}

.bottone-blu , .bottone-bianco {
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 7px;
}

.bottone-blu{
    background-color: lightblue;
}

.bottone-bianco {
    background-color: white;
}

.lista-uno , .lista-due , .lista-tre {
    margin-bottom: 10px;
}

.lista-uno {
    margin-top: 5px;
}

ul {
    list-style: none;
}

/* non funziona */
#editorial {
    color: white;
    background-color: rgb(99, 239, 239);
    border-radius: 10px;
    padding: 5px;
}