* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    background-color: rgb(134, 129, 129);
}

main {
    background-color: white;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 4%;
}

.titolo {
    background-color: white;
    width: 100%;
}

/* non funziona, ne padding ne margin*/
.header {
    padding-left: 30px;
}

h1 {
    display: inline-block;
}

.bottone {
    padding: 10px;
}

.bottoni {
    border-bottom: 2px solid black;
}

.liste {
}

ul {
    list-style: none;
}