* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    background-color: rgb(134, 129, 129);
}

main {
    background-color: white;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 4%;
}

.titolo {
    background-color: white;
    width: 100%;
}

/* non funziona, ne padding ne margin*/
.header {
    padding-left: 30px;
}

h1 {
    display: inline-block;
}

.bottoni {
    border-bottom: 2px solid black;
}

.bottone-blu , .bottone-bianco {
    padding: 5px;
    margin-bottom: 3px;
}

.bottone-blu{
    background-color: lightblue;
}

.bottone-bianco {
    background-color: white;
}

.lista-uno , .lista-due , .lista-tre {
    margin-bottom: 10px;
}

.lista-uno {
    margin-top: 5px;
}

ul {
    list-style: none;
}