* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* non funziona. perchè? */
.header {
    display: inline-block;
}


body {
    background-color: grey;
}

main {
    background-color: white;
}